    <nav>
        <div class="logo">
            <img src="https://www.onddi.com/wp-content/uploads/2016/12/envato-logo-small.svg" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#"><span>01.</span>About</a></li>
            <li><a href="#"><span>02.</span>Experience</a></li>
            <li><a href="#"><span>03.</span>Work</a></li>
            <li><a href="#"><span>04.</span>Contact</a></li>
            <li><button class="join-button" href="#">Resumes</button></li>
        </ul>
    </nav>