

<div class="start" id="start">
  <h6>Hi, my name is</h6>
  <h1>Maruan Aguerdouh.</h1>
  <h2>I'm a Full-Stack developer.</h2>
  <p>
    I'm a Madrid-based (at the moment) web developer who specializes in building exceptional digital experiences. 
    Focused on building accessible, beautiful and functional web applications.
  </p>
  <a href="#" class="coloured-border-btn">Contact me!</a>
</div>

<section class="about" id="about">
  <div class="section-title">
    <h2><span>01.</span> About Me</h2><span class="thin-line"></span>
  </div>
  <div class="inner-content row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mr-auto">
      <div class="text-box">
        <p>Hello! My name is Maruan and I enjoy creating new things that are part of the internet. 
          My interest in web development started back in 2018 when I tryed to start my own business of dropshipping, 
          i used a lot of technologies during that project such as wordpress and so little of coding, because the major part was about plugins, 
          but that experience showed me that i was very limited without coding, 
          so i decided that i will be learning code until i'm able to do anything that my mind thinks of.
        </p>
        <p>
          I decided this year 2021 to start my journey at Le Wagon in Madrid Batch #628 and was one of the best coding experiences i've had before,
          i enjoyed working with the senior developer teacher and everything that i learned from them i was so addicted to the challenges that i almost
          finished every single one, and i was so pleasant that i was able to help all my teammates in my batch.
        </p>
        <p>
          Here are the main technologies i've worked with:
        </p>
        <ul class="my-skills">
          <li>JavaScript (ES6+)</li>
          <li>Ruby on Rails</li>
          <li>PostgreSQL</li>
          <li>CSS & HTML (also SCSS)</li>
          <li>UI & UX Design (with Figma)</li>
          <li>Ruby</li>
          <li>SQL</li>
          <li>WordPress</li>
          <li>AJAX</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
      <div class="photo-box">
        <div class="position-relative">
          <div class="image-border"></div>
          <div class="my-image"></div>
        </div>
      </div>
    </div>
  </div>

</section>