<section class="error-body">
	<div class="message">
		<h1 t="500">500</h1>
		<div class="bottom">
			<p>Internal server error</p>
      <%= link_to "Go home", root_path %>
		</div>
	</div>
</section>
